.navbar-default {
    background: #def;
    border-style: none;
}

.navbar-default .navbar-nav p {
    margin: 0;
}

.page-header {
    border-style: none;
}

/** Main section **/
.section {
    padding-top: 0px;
    padding-bottom: 10px;
}
@media (min-width: 768px) {
    .section {
        padding-top: 150px;
        padding-bottom: 150px;
    }
}

#services {
    background: #fed;
}

#datahopper {
    background: #def;
}

#about {
    background: #fed;
}

#clients {
    background: #def;
}

#blog {
    background: #fed;
}

#contact {
    background: #def;
}

footer {
    background: black;
    color: white;
}
