.navbar-default {
    background: white;
    border-style: none;
    margin-top: 20px;
}

.navbar-default .navbar-nav p {
    margin: 0;
}

.page-header {
    border-style: none;
}

.thumbnail {
    text-align: center;
    border-style: none;
}

/** Main section **/
.section {
    background: #def;
    padding-top: 0px;
    padding-bottom: 10px;
}
@media (min-width: 768px) {
    .section {
        padding-top: 60px;
        padding-bottom: 60px;
    }
}

#services {
    background: #fff;
}

#datahopper {
    background: #def;
}

#about {
    background: white;
}

#clients {
    background: #def;
}

#blog {
    background: white;
}

#contact {
    background: #def;
}

#main-footer {
    background: black;
    color: white;
}


