#nav_logo_link {
  background-image: url("../images/logo-small.png");
  background-repeat: no-repeat;
  background-color: #009400;
  background-position: right bottom;
  width: 120px;
  height: 60px;
  text-indent: -5000em;
  display: block;
}

body {
  padding-top: 20px;
  padding-bottom: 40px;
}

/* Custom container */
.container-narrow {
  margin: 0 auto;
  max-width: 700px;
}
