@logoSize: 400px;
@logoPosition: @logoSize - 100;

.empty-logo {
  display: block;
  width: @logoSize;
  height: @logoPosition;
  background: url("/images/theme/empty-logo-inverse.svg");
  background-size: @logoSize @logoSize;
  background-position: left center;
}

.empty-logo > h1 {
  font-size: 32pt;
  position: relative;
  top: @logoPosition/2 - 46;
  left: @logoSize * 0.25;
  margin: 0px;
  text-align: left;
  font-family: JosefinSans;
  font-weight: bold;
}

.jumbotron {
  // so that contained .filler can have absolute positioning
  // relative to the jumbotron.
  position: relative;
}

.jumbotron .filler {
  height: @logoPosition;
  width: 10%;
  position: absolute;
  left: 0px;
  background-image: url("/images/theme/sprily-logo-horizontal-line-inverse.png");
  background-size: @logoSize @logoSize;
  background-position: left center;
}
