.navbar.navbar-default {
  background-color: @blue;
  background-image: url("/images/theme/sprily-logo-horizontal-line-inverse.svg");
  background-size: auto 301px;
}

.navbar > .container {
  background-color: @blue;
}

.navbar .bullet {
  background: url("/images/theme/bullet.svg");
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
  display: inline-block;
  vertical-align: middle;
}

.navbar .nav > li > a {
  margin-top: 125px;
  color: white;
}

.navbar > .container .navbar-brand.sprily-logo {
  margin-left: -60px;
}
