.navbar {
  background-color: @blue;
}

.navbar .bullet {
  background: url("/images/theme/bullet.svg");
  width: 20px;
  height: 20px;
  background-size: 20px 20px;
  display: inline-block;
  vertical-align: bottom;
}

.navbar .nav {
  margin-top: 125px;
}
