.service h2 {
  border-radius: @border-radius-base;
  background-color: @greenHighlight;
  font-family: JosefinSans;
  padding: 5px;
  color: white;
  font-style: bold;
}

#services > .container .thumbnail {
  border-radius: @border-radius-base + 5;
  background-color: @green;
  padding: 10px;
}
