<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Sprily &middot; $title$</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/bootstrap.css" rel="stylesheet">

  </head>

  <body>

    <div class="container-narrow">

      <!-- NAVBAR
      ================================================== -->
      <div class="masthead">
        <ul class="nav nav-pills pull-right">
          <li $if(home)$ class="active" $endif$><a href="/">Home</a></li>
          <li $if(about)$ class="active" $endif$><a href="about.html">About</a></li>
          <li $if(contact)$ class="active" $endif$><a href="contact.html">Contact</a></li>
        </ul>
        <h1 id="nav_logo">
          <a id="nav_logo_link" href="/">Sprily</a>
        </h1>
      </div>

      <hr/>

      $body$


      <hr/>

      <!-- FOOTER -->
      <footer>
        <small>
          <p class="text-right">Sprily IT Ltd.  Company No. 08474582</p>
          <p class="text-right">&copy; 2013 Sprily IT Ltd.</p>
        </small>
      </footer>

    </div>

    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>
